<manifest xmlns:android="http://schemas.android.com/apk/res/android"><uses-permission android:name="android.permission.CAMERA"/><uses-permission android:name="android.permission.INTERNET"/><application android:label="Demi Fietsen Medewerkers" android:theme="@style/Theme.Demi" android:allowBackup="false" android:usesCleartextTraffic="${usesCleartextTraffic}"><activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter><intent-filter android:autoVerify="true"><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="https" android:host="demifietsen.nl" android:pathPrefix="/q/"/></intent-filter></activity></application></manifest>
